manifest {
  description = 'IPA-derived multi-omics analysis pipeline implemented with Nextflow'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */

params {
  out_dir = "${projectDir}/results/0923_GSE135251_NAFLD_rnaseqc"
  log_dir = "${projectDir}/logs/0923_GSE135251_NAFLD_rnaseqc"
}

params {
    run_mode = "preprocessing"
    reads = params.reads ?: null 
}

params {
  genome_index = "${projectDir}/data/STAR_index"
  annotation_gtf = "${projectDir}/data/gencode.v39.genes.gtf"  // use the collapsed v39 genes, same as GTEx
  polya_sites_bed = "${projectDir}/data/SCINPAS_all_normal_q15Expr_sorted.bed"
  genome_fa = "${projectDir}/data/GRCh38.primary_assembly.genome.fa"
  threads_pe = 8
  threads_se = 4
  multiqc_cpus = 4
  unique_mapq = 255
  fc_strand = 2
  fc_feature_type = "exon"
}

if( !params.reads )
    exit 1, "Provide --reads '.../*_{1,2}.fastq.gz'"
  
/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  slurm {
    includeConfig "conf/envs/slurm.config"
    executor.submitRateLimit = '1/2sec'
  }
  slurm_med {
    includeConfig "conf/envs/slurm_med.config"
  }
  docker {
    docker.enabled = true
  }
  singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${HOME}/.singularity/cache/library"
    libraryDir = "${HOME}/.singularity/cache/library"
  }
  conda {
    conda.enabled = true
    process.conda = "${HOME}/miniconda3/envs/ipa-immune"
  }
}