manifest {
  description = 'IPA-derived multi-omics analysis pipeline implemented with Nextflow'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */

params {
  out_dir = "${projectDir}/results/nf_test_results"
  log_dir = "${projectDir}/logs/nf_test_results"
  map_dir = "${projectDir}/results/nf_test_results"
}

params {
  input_fastq = "/project/data/tcga_data_raw_nobackup/TCGA-LIHC/bam/fc1ef653-97b8-425c-98f6-5317cd54f728/5929*.R{1,2}.fastq"
  star_mapped_bam = "/project/home/bmate/Work/IPA-immune/results/nf_test_results/5929f6bf-85f8-4b79-ae2d-c5cddf2a9ed1.rna_seq.genomic.gdc_realn.R1.fastq.Aligned.sortedByCoord.out.bam"
  bam_low_dupl = "/project/home/bmate/Work/IPA-immune/results/nf_test_results/ENCFF184CDV_ENCFF456OPJ.bam_low_dupl"
  genome_index = "/project/home/bmate/Work/IPA-immune/tests/STAR_index"
  threads_pe = 16
  threads_se = 4
}

params {
  annotation_gtf = "/project/home/bmate/Work/IPA-immune/tests/gencode.v42.annotation.gtf"
  polya_sites_bed = "/project/home/bmate/Work/IPA-immune/tests/SCINPAS_all_normal_q15Expr.bed"
  genome_fa = "/project/home/bmate/Work/IPA-immune/tests/GRCh38.primary_assembly.genome.fa"
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  slurm {
    includeConfig "conf/envs/slurm.config"
  }
  docker {
    docker.enabled = true
  }
  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
  }
  conda {
    conda.enabled = true
    conda.channels = 'bioconda,conda-forge,defaults'
  }
}
