manifest {
  description = 'IPA-derived multi-omics analysis pipeline implemented with Nextflow'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */

params {
  out_dir = "${projectDir}/results/"
  log_dir = "${projectDir}/logs/"
}

params {
  input_fastq = "${projectDir}/data/ENCODE_data/ENCFF*R{1,2}.fastq"
  genome_index = "${projectDir}/data/STAR_index"
  annotation_gtf = "${projectDir}/data/gencode.v42.annotation.gtf"
  polya_sites_bed = "${projectDir}/data/SCINPAS_all_normal_q15Expr_sorted.bed"
  genome_fa = "${projectDir}/data/GRCh38.primary_assembly.genome.fa"
  threads_pe = 16
  threads_se = 8
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  slurm {
    includeConfig "conf/envs/slurm.config"
  }
  slurm_med {
    includeConfig "conf/envs/slurm_med.config"
  }
  docker {
    docker.enabled = true
  }
  singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${HOME}/.singularity/cache/library"
    libraryDir = "${HOME}/.singularity/cache/library"
  }
  conda {
    conda.enabled = true
    conda.channels = 'bioconda,conda-forge,defaults'
    process.conda = 'install/environment.yml'
  }
}