manifest {
  description = 'IPA-derived multi-omics analysis pipeline implemented with Nextflow'
  nextflowVersion = '>=23.04.0'
}

/* 
 * default params 
 */

process.debug = true

params {
  out_dir = "${projectDir}/results/nf_test_results"
  log_dir = "${projectDir}/logs/nf_test_results"
}

params {
  input_fastq = "/scicore/home/zavolan/balajt0000/Work/IPA-immune/tests/test_data/ENCFF184CDV_ENCFF456OPJ.chr21_{1,2}.fastq"
  genome_index = "/scicore/home/zavolan/GROUP/RBP_perturbational_networks/wf_runs/v1/output/STAR_indices/human/without_GTF/STAR_index"
  annotation_gtf = "/scicore/home/zavolan/GROUP/Genomes/homo_sapiens/hg38_v42/gencode.v42.annotation.gtf"
  polya_sites_bed = "/scicore/home/zavolan/GROUP/IPA/IPA_catalogue/SCINPAS_all_normal_q15Expr.bed"
  genome_fa = "/scicore/home/zavolan/GROUP/Genomes/homo_sapiens/GRCh38.primary_assembly.genome.fa"
  threads_pe = 16
  threads_se = 4
}

/* 
 * defines execution profiles for different environments  
 */ 

profiles {
  slurm {
    includeConfig "conf/envs/slurm.config"
  }
  slurm_med {
    includeConfig "conf/envs/slurm_med.config"
  }
  docker {
    docker.enabled = true
  }
  singularity {
    enabled = true
    autoMounts = true
    cacheDir = "${HOME}/.singularity/cache/library"
    libraryDir = "${HOME}/.singularity/cache/library"
  }
  conda {
    conda.enabled = true
    conda.channels = 'bioconda,conda-forge,defaults'
    process.conda = 'install/environment.yml'
  }
  conda_med {
    conda.enabled = true
    conda.cacheDir = '/project/home/bmate/miniconda3/envs/ipa-immune'
  }
}
