process {
    
    // standard settings if not specified otherwise
    
    executor = 'slurm'
    clusterOptions = "--partition=dynamic-8cores-16g"
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    time = { 20.m * task.attempt }
    memory = { 4.GB * task.attempt }
    cpus = 4
    queueSize = 5
    maxForks = 4
    submitRateLimit = '10 sec'
    
    // general estimates for groups of processes
    
    withLabel: star {
        clusterOptions = "--partition=dynamic-16cores-32g,dynamic-16cores-64g,dynamic-16cores-128g"
        cpus = 8
        time = { 4.h * task.attempt }
        memory = { 32.GB * task.attempt }
    }
    withLabel: samtools {
        clusterOptions = "--partition=dynamic-8cores-16g,dynamic-16cores-32g,dynamic-16cores-64g,dynamic-16cores-128g"
        time = { 1.h * task.attempt }
        memory = { 16.GB * task.attempt }
    }
    withLabel: TECtool {
        clusterOptions = "--partition=dynamic-16cores-64g,dynamic-16cores-128g"
        time = { 4.h * task.attempt }
        memory = { 60.GB * task.attempt }
    }
    withLabel: bedtools {
        cpus = 8
        memory = { 10.GB * task.attempt }
    }
    withLabel: low_dup {
        clusterOptions = "--partition=dynamic-16cores-128g"
        time = { 2.h * task.attempt }
        memory = { 60.GB * task.attempt }
    }
    withLabel: salmon {
        clusterOptions = "--partition=dynamic-16cores-32g,dynamic-16cores-64g,dynamic-16cores-128g"
        time = { 1.h * task.attempt }
        memory = { 30.GB * task.attempt }
    }
}
