/*
singularity {
	enabled = true
	autoMounts = true
	cacheDir = "${HOME}/.singularity/cache/library"
	libraryDir = "${HOME}/.singularity/cache/library"
}
*/

conda.enabled = true
conda.channels = 'bioconda,conda-forge,defaults'

process {
    conda = 'install/environment.yml'
    executor = 'slurm'
    memory = 64.GB
    cpus = 8
    clusterOptions = "--time=00:29:00 --qos=30min"
    // errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    // maxRetries = 2
    // withLabel: blabla {
    //    memory = 64.GB
    //    cpus = 8
    //    container = ""
    //    time = { 10.m * task.attempt }
    //    memory = { 2.GB * task.attempt }
    //}
}

