process {
    
    // standard settings if not specified otherwise
    
    executor = 'slurm'
    clusterOptions = "--qos=30min"
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    time = { 10.m * task.attempt }
    memory = { 2.GB * task.attempt }
    cpus = 4
    
    // general estimates for groups of processes
    
    withLabel: star {
        clusterOptions = "--qos=6hours"
        cpus = 8
        time = { 2.h * task.attempt }
        memory = { 40.GB * task.attempt }
    }
    withLabel: samtools {
        memory = { 20.GB * task.attempt }
    }
    withLabel: bedtools {
        memory = { 4.GB * task.attempt }
    }
    withLabel: TECtool {
        clusterOptions = "--qos=6hours"
        time = { 2.h * task.attempt }
        memory = { 30.GB * task.attempt }
    }
    withLabel: salmon {
        clusterOptions = "--qos=6hours"
        cpus = 8
        time = { 2.h * task.attempt }
        memory = { 40.GB * task.attempt }
    }

    // Specific requirements
    
    withName: SAMTOOLS_GET_LOW_DUP_READS {
        memory = { 40.GB * task.attempt }
        time = 30.m
    }
}

