process {
    
    // standard settings if not specified otherwise
    
    executor = 'slurm'
    clusterOptions = "--partition=dynamic-16cores-32g"
    errorStrategy = { task.exitStatus in 137..140 ? 'retry' : 'terminate' }
    maxRetries = 2
    time = { 10.m * task.attempt }
    memory = { 2.GB * task.attempt }
    cpus = 4
    
    // general estimates for groups of processes
    
    withLabel: star {
        clusterOptions = "--partition=dynamic-16cores-64g"
        cpus = 8
        time = { 2.h * task.attempt }
        memory = { 40.GB * task.attempt }
    }
    withLabel: samtools {
        clusterOptions = "--partition=dynamic-16cores-64g"
        memory = { 20.GB * task.attempt }
    }
    withLabel: TECtool {
        clusterOptions = "--partition=dynamic-16cores-64g"
        time = { 1.h * task.attempt }
        memory = { 30.GB * task.attempt }
    }
    withLabel: low_dup {
        clusterOptions = "--partition=dynamic-16cores-128g"
        time = { 1.h * task.attempt }
        memory = { 64.GB * task.attempt }
    }
}

